<br />
<div class="container-child" >
  <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
    <div fxFlex="100" style="padding: 15px">
        <span class="p-float-label">
            <input
              type="password"
              pInputText
              [style]="{ width: '100%' }"
              class="p-inputtext-sm"
              [(ngModel)]="data.new_password"
            />
            <label for="inputtext-left" class="text-500">New Password</label>
          </span>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
    <div fxFlex="100" style="padding: 15px">
        <span class="p-float-label">
            <input
              type="password"
              pInputText
              [style]="{ width: '100%' }"
              class="p-inputtext-sm"
              [(ngModel)]="data.confirm_password"
            />
            <label for="inputtext-left" class="text-500">Confirm Password</label>
          </span>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
    <div fxFlex="100" style="padding: 15px;">
      <button pButton type="button" label="Save" id="changePassword" (click)="changePassword()"  [style]="{'width': '100%'}" class="primary"></button>
    </div>
  </div>
</div>