.template-icon-sales {
  // width:100px;
  display:block;
  width: 20px;
  height: 15px;
  max-width: 100%;
  // background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}

.template-icon-sales:after {
  content: '';
    background:url('../images/template-icons/sales-and-marketing.png') no-repeat 0px 0px;
    background-position: center;
    // background-size: cover;
    background-size: contain;
    position:absolute;
    max-width: 100%;
    width: 20px;
    height: 15px;
    margin-left:-20px;
}


.template-icon-storage {
  // width:100px;
  display:block;
  width: 20px;
  height: 15px;
  max-width: 100%;
  // background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}

.template-icon-storage:after {
  content: '';
    background:url('../images/template-icons/storage.png') no-repeat 0px 0px;
    background-position: center;
    // background-size: cover;
    background-size: contain;
    position:absolute;
    max-width: 100%;
    width: 20px;
    height: 15px;
    margin-left:-20px;
}
.template-icon-admin {
  // width:100px;
  display:block;
  width: 20px;
  height: 15px;
  max-width: 100%;
  // background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}

.template-icon-admin:after {
  content: '';
    background:url('../images/template-icons/admin.png') no-repeat 0px 0px;
    background-position: center;
    // background-size: cover;
    background-size: contain;
    position:absolute;
    max-width: 100%;
    width: 20px;
    height: 15px;
    margin-left:-20px;
}

.template-icon-dispatching {
  // width:100px;
  display:block;
  width: 20px;
  height: 15px;
  max-width: 100%;
  // background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}

.template-icon-dispatching:after {
  content: '';
    background:url('../images/template-icons/dispatching.png') no-repeat 0px 0px;
    background-position: center;
    // background-size: cover;
    background-size: contain;
    position:absolute;
    max-width: 100%;
    width: 20px;
    height: 15px;
    margin-left:-20px;
}


.template-icon-receiving {
  // width:100px;
  display:block;
  width: 20px;
  height: 15px;
  max-width: 100%;
  // background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}

.template-icon-receiving:after {
  content: '';
    background:url('../images/template-icons/receiving.png') no-repeat 0px 0px;
    background-position: center;
    // background-size: cover;
    background-size: contain;
    position:absolute;
    max-width: 100%;
    width: 20px;
    height: 15px;
    margin-left:-20px;
}


.template-icon-yard {
  // width:100px;
  display:block;
  width: 20px;
  height: 15px;
  max-width: 100%;
  // background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}

.template-icon-yard:after {
  content: '';
    background:url('../images/template-icons/yard.png') no-repeat 0px 0px;
    background-position: center;
    // background-size: cover;
    background-size: contain;
    position:absolute;
    max-width: 100%;
    width: 20px;
    height: 15px;
    margin-left:-20px;
}


.template-icon-settings {
  // width:100px;
  display:block;
  width: 20px;
  height: 15px;
  max-width: 100%;
  // background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}

.template-icon-settings:after {
  content: '';
    background:url('../images/template-icons/settings.png') no-repeat 0px 0px;
    background-position: center;
    // background-size: cover;
    background-size: contain;
    position:absolute;
    max-width: 100%;
    width: 20px;
    height: 15px;
    margin-left:-20px;
}


.template-icon-dashboard {
  // width:100px;
  display:block;
  width: 20px;
  height: 15px;
  max-width: 100%;
  // background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}

.template-icon-dashboard:after {
  content: '';
    background:url('../images/template-icons/dashboard.png') no-repeat 0px 0px;
    background-position: center;
    // background-size: cover;
    background-size: contain;
    position:absolute;
    max-width: 100%;
    width: 20px;
    height: 15px;
    margin-left:-20px;
}