<div class="container">
    <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
      <div fxFlex="100" style="padding-top: 25px; padding-left: 15px">
        <p-tabView [scrollable]="true">
            <p-tabPanel header="Sales/Marketing">

            </p-tabPanel>
            <p-tabPanel header="Yard Management">

            </p-tabPanel>
            <!-- <p-tabPanel header="Receiving">

            </p-tabPanel> -->
            <p-tabPanel header="Storage">
              
            </p-tabPanel>
            <p-tabPanel header="Receiving and Dispatching">
            </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <br />
</div>