<div class="container-child" *ngIf="isComponentShown">
    <div class="p-fluid grid mt-3">
      <div class="field col-12 md:col-12 lg:col-12">
        <span class="p-float-label">        
        <p-dropdown  class="p-inputtext-sm" inputId="dropdown" [filter]="true" filterBy="system_module" class="p-inputtext-sm" name="moduleDropdownList" [(ngModel)]="userRightModel.system_module_id" [options]="moduleDropdownList" optionValue="id"
          optionLabel="system_module" [style]="{'width': '100%'}"></p-dropdown>
        </span>
      </div>
      <div class="field col-12 md:col-12 lg:col-12">
        <div class="field-checkbox">
            <p-checkbox  name="groupname" [binary]=true [(ngModel)]="userRightModel.can_add"></p-checkbox>
            <label for="binary">Add</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox  name="groupname" [binary]=true [(ngModel)]="userRightModel.can_edit"></p-checkbox>
            <label for="binary">Edit</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox  name="groupname" [binary]=true [(ngModel)]="userRightModel.can_delete"></p-checkbox>
            <label for="binary">Delete</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox  name="groupname" [binary]=true [(ngModel)]="userRightModel.can_print"></p-checkbox>
            <label for="binary">Print</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox  name="groupname" [binary]=true [(ngModel)]="userRightModel.can_lock"></p-checkbox>
            <label for="binary">Lock</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox  name="groupname" [binary]=true [(ngModel)]="userRightModel.can_unlock"></p-checkbox>
            <label for="binary">Unlock</label>
        </div>
        <div class="field-checkbox">
          <p-checkbox  name="groupname" [binary]=true [(ngModel)]="userRightModel.can_save"></p-checkbox>
          <label for="binary">Save</label>
      </div>
      </div>
      <div class="field col-12 md:col-12 lg:col-12">
        <button pButton type="button" label="Save" id="save" (click)="save()"
          class="primary"></button>
      </div> 
    </div>
  </div>